.api-cards {
	width: 100%;
	height: auto;
	border-radius: 8px;
	top: 0;
	text-align: center;
	transition: all 0.25s;
	margin-bottom: 2em;
}

.api-cards > img:hover {
	opacity: 0.5;
}
.searched-trail {
	width: 100%;
}

.card-image {
	height: 300px;
	width: 100%;
}

.rounded > input {
	height: 37px;
	width: 300px;
	border-radius: 20px;
	outline: none;
	text-align: center;
}
